<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="keywords" content="网络社会征信网">
    <meta name="description" content="网络社会征信网随着徐玉玉案数名嫌犯陆续落网，这起电信诈骗案的内幕似乎逐渐揭开。事实上，信息泄露已在网上猖獗多年，因此造成的诈骗案件频发。近日，记者发现仍有大量“信息贩子”活跃在QQ群内，学生、车主等个人数据信息均被明码标价，除个人外，还有公司经营此类业务，这条黑色利益链似乎已根深蒂固。">
    <link type="text/css" rel="stylesheet" href="./templates/360_2_files/reset.css">
    <link type="text/css" rel="stylesheet" href="./templates/360_2_files/index.css">
    <link type="text/css" rel="stylesheet" href="./templates/360_2_files/inner.css">
    <script type="text/javascript" language="javascript" src="./templates/360_2_files/jquery-1.3.2.js"></script>
    <script type="text/javascript" language="javascript" src="./templates/360_2_files/show_img.js"></script>
    <script type="text/javascript" language="javascript" src="./templates/360_2_files/tab.js"></script>
    <title>网络社会征信网</title>
</head>
<body>
    <div class="top-header">
        <div class="bd">
            <div class="top-login">欢迎来到网络社会征信网！
                <script type="text/javascript" src="./templates/360_2_files/helloIndex.action.download"></script><span><a href="http://www.zx110.org/login.jsp">登录</a></span> <span><a href="http://www.zx110.org/register.jsp">免费注册</a></span></div>
            <div class="top-menu">
                <span onmouseout="javascript:document.getElementById(&#39;qr_weixin&#39;).style.display=&#39;none&#39;;" onmouseover="javascript:document.getElementById(&#39;qr_weixin&#39;).style.display=&#39;&#39;;"
                    style="cursor: pointer;"><img src="./templates/360_2_files/weixin.png">官方微信</span> |
                <span onmouseout="javascript:document.getElementById(&#39;qr_weibo&#39;).style.display=&#39;none&#39;;" onmouseover="javascript:document.getElementById(&#39;qr_weibo&#39;).style.display=&#39;&#39;;"><img src="./templates/360_2_files/weibo.png"><a href="http://www.weibo.com/u/2330339061" target="_blank">新浪微博</a></span>                | <span><a href="http://www.zx110.org/article/article_detail_11885.html#" onclick="addFav()">加入收藏夹</a></span>                | <span><a href="http://www.zx110.org/article/article_detail_11885.html#" onclick="homePage(this)">设为主页</a></span>
            </div>
            <div id="qr_weixin" style="display:none;width:1000px;z-index:9999;position:absolute;margin:34px auto 0;">
                <img src="./templates/360_2_files/qr_weixin.png" style="float:right;margin:0px 170px 0 0;">
            </div>
            <div id="qr_weibo" style="display:none;width:1000px;z-index:9999;position:absolute;margin:34px auto 0;">
                <img src="./templates/360_2_files/qr_weibo.png" style="float:right;margin:0px 80px 0 0;">
            </div>
        </div>
    </div>
    <!--==end top==-->

    <div class="header">
        <div class="hd">
            <h1><a href="http://www.zx110.org/">网络社会征信网</a></h1>
            <div class="logo-ad"><a target="_blank" href="http://www.zx110.org/editor_note.jsp"><img src="./templates/360_2_files/logo_ad.jpg"></a></div>
        </div>
        <!--==end logo==-->
        <div class="nav">
            <ul>
                <li><a href="http://www.zx110.org/">首&nbsp;&nbsp;页</a></li>
                <li><a href="http://www.zx110.org/exposure/website.jsp">曝 光 台</a></li>
                <li><a target="_blank" href="http://piyao.zx110.org/">辟谣专栏 </a></li>
                <li><a href="http://www.zx110.org/article/integrity_news.jsp">诚信要闻</a></li>
                <li><a href="http://www.zx110.org/article/telecom.jsp">电信欺诈</a></li>
                <li><a href="http://www.zx110.org/article/protection.jsp">技术防范</a></li>
                <li><a href="http://www.zx110.org/safety/event.jsp">事件通报</a></li>
                <li><a href="http://www.zx110.org/article/law.jsp">法律法规</a></li>
                <li><a target="_blank" href="http://www.166166166.cn/166_zx110.html">166绿色上网</a></li>
                <li class="last"><a href="http://zx.zx110.org:8080/" target="_blank">诚信评级</a></li>
                <li><a href="http://pinggu.zx110.org/" target="_blank">可信评估</a></li>
                <li><a href="http://www.zx110.org/report/report_search.jsp">举报中心</a></li>
                <li><a target="_blank" href="http://hao.zx110.org/">诚信导航</a></li>
                <li><a href="http://www.zx110.org/article/auth_news.jsp">权威发布</a></li>
                <li><a href="http://www.zx110.org/article/police_tip.jsp">警方提示</a></li>
                <li><a href="http://www.zx110.org/article/project_news.jsp">行业资讯 </a></li>
                <li><a href="http://www.zx110.org/safety/security.jsp">安全公告</a></li>
                <li><a href="http://www.zx110.org/safety/early.jsp">预警预测</a></li>
                <li><a href="http://www.zx110.org/security/index.jsp">安全评估</a></li>
                <li class="last"><a href="http://www.zx110.org/uncredit/uncredit.jsp">企业曝光</a></li>

            </ul>
        </div>
    </div>
    <div class="f-ad f-ad-top"><a target="_blank" href="http://www.zx110.org/bmlm?src=home"><img src="./templates/360_2_files/sscp.jpg"></a></div>

    <!--==start container==-->
    <div id="container">
        <div class="slider705 left">
            <div class="news-main">
                <div class="t-title">
                    <h2 class="news-title"><a href="http://www.zx110.org/">征信网</a> &gt; 新闻动态</h2>
                </div>
                <div class="nd-main">
                    <div class="hd">
                        <h3>新闻标题请勿修改这里</h3>
                        <p>

                            <span>来源：新京报</span>

                            <span>发布日期：2016-08-30 09:47:39</span>
                        </p>
                    </div>
                    <div class="bd">
                        <p>内页的内容请勿修改这里</p>
                    </div>
                </div>
                <!--==end nd-main==-->
                <div class="ad750 mt10">
                    
                </div>
                <!--==end ad==-->
                <div class="slider705">
                    <div class="box270 box350 mt20 left">
                        <div class="hd">
                            <h2 class="tr-title tr-title2">相关资讯</h2>
                        </div>
                        <div class="bd">
                            <ul class="news-list xg2">

                            </ul>
                        </div>
                    </div>
                    <!--==end 相关资讯==-->
                    <div class="box270 box350 mt20 left">
                        <div class="hd">
                            <h2 class="tr-title tr-title2">您可能会喜欢</h2>
                        </div>
                        <div class="bd">
                            <ul class="news-list xg2">

                            </ul>
                        </div>
                    </div>
                    <!--==end 相关资讯==-->
                </div>
                <!--==end 新闻推荐==-->
            </div>
            <!--==end newsmain==-->

        </div>
        <!--==end slider705==-->
        <div class="slider270 right">
            <div class="box270">
                <div class="hd">
                    <h2 class="tr-title">每日推荐</h2>
                </div>
                <div class="bd">
                    <ol class="news-oi">

                    </ol>
                </div>
            </div>
            <!--==end 每日推荐==-->
            <div class="news-ad mt20">

            </div>
            <!--==end ad1==-->
            <div class="box270 mt20">
                <div class="hd">
                    <h2 class="tr-title">专题活动</h2>
                </div>
                <div class="bd">
                    <div class="mt10">
                        <a target="_blank" href="http://pinggu.zx110.org/"><img src="./templates/360_2_files/pic_znet.png"></a>
                    </div>
                    <div class="mt10">
                        <!-- 辟谣专栏 -->
                        <a target="_blank" href="http://piyao.zx110.org/"><img src="./templates/360_2_files/pic_piyao.png"></a>
                    </div>
                    <div class="mt10">
                        <a target="_blank" href="http://www.166166166.cn/166_zx110.html">
                         	<img src="./templates/360_2_files/inner_166_ad.jpg">
                         </a>
                    </div>
                </div>
            </div>
            <!--==end 专题活动==-->
            <div class="box270 mt20">
                <div class="hd">
                    <h2 class="tr-title">相关资讯</h2>
                </div>
                <div class="bd">
                    <ul class="news-list xg-ui">

                        <li><a href="http://www.zx110.org/article/auth_news_detail.jsp?id=11996">处置涉案财产，一定要有事实和法律依据——最高法出台十项举措加强产权司法保护</a></li>

                        <li><a href="http://www.zx110.org/article/auth_news_detail.jsp?id=11986">商务部等13部门关于开展加快内贸流通创新推动供给侧结构性改革扩大消费专项行动的意见</a></li>

                        <li><a href="http://www.zx110.org/article/auth_news_detail.jsp?id=11932">发改委近期将发布“双11”期间信用建设工作部署</a></li>

                        <li><a href="http://www.zx110.org/article/auth_news_detail.jsp?id=11906">10月起一批新规实施 微信朋友圈信息可做刑案证据</a></li>

                        <li><a href="http://www.zx110.org/article/auth_news_detail.jsp?id=11520">八部门：严查涉嫌网络医托的互联网企业和医疗机构</a></li>

                    </ul>
                </div>
            </div>
            <!--==end 每日推荐==-->
        </div>
        <!--==end slider270==-->
    </div>
    <!--==end container==-->
    <div class="n-footer">
        <p>
            <a href="http://www.zx110.org/about_mianze.jsp">免责声明</a>&nbsp;
            <a href="http://www.zx110.org/about_us.jsp">关于我们</a>&nbsp;
            <a href="http://www.zx110.org/contact_us.jsp">联系我们</a>&nbsp;
            <a href="http://www.zx110.org/privacy.jsp">隐私保护</a>&nbsp;
            <a target="_blank" href="http://pinggu.zx110.org/">网站评估</a>&nbsp;
            <a href="http://v.trustutn.org/" target="_blank">网站认证 </a>&nbsp;
            <a href="http://c.trustutn.org/" target="_blank">网站信用 </a>
        </p>
        <p>
            主办单位:上海网络社会征信网 地址:上海市通协路268号A808 邮编:200050 <br>
            版权所有 沪ICP备12039960号-18<br>
            本站所有内容均为网络社会征信网所有，不经征信网授权不得转载
        </p>
    </div>
</body>
</html>