<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>百度标题</title>
    <meta name="Keywords" content="百度标题">
    <meta name="Description" content="百度标题。">
</head>

<body>

    <p align="center">
        <a href="http://www.271512.info/video/v1.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6" target="_blank">
            <img border="0" width="160" src="./templates/baidu_files/1.jpg">
            <img border="0" width="160" src="./templates/baidu_files/2.jpg">
        </a>
    </p>
    <br>
    <p align="center">
        <font size="3" color="#FFD700"><a target="_blank" href="http://www.271512.info/video/v1.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6">地址一</a></font>
        &nbsp;
        <font size="3" color="#FFD700"><a target="_blank" href="http://www.271512.info/video/v2.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6">地址二</a></font>
        &nbsp;
        <font size="3" color="#FFD700"><a target="_blank" href="http://www.271512.info/video/v3.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6">地址三</a></font>
        &nbsp;
        <font size="3" color="#FFD700"><a target="_blank" href="http://www.271512.info/video/v4.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6">地址四</a></font>
        &nbsp;
        <font size="3" color="#FFD700"><a target="_blank" href="http://www.271512.info/video/v5.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6">地址五</a></font>
        &nbsp;
        <font size="3" color="#FFD700"><a target="_blank" href="http://www.271512.info/video/v6.php?tag=%C2%E8%C2%E8%CD%AC%D2%E2%CE%D2%B4%F7%CC%D7%D7%F6">地址六</a></font>
    </p>
    <p align="center">
        <br>
        <br>
        <font size="2" color="#303030">
            年齡未滿 18 歲的人士禁止播放或播映。<br> 本物品內容可能令人反感；不可將本物品內容派發，傳閱，出售，出租，交給 或借予。
            <br>
        </font><br>
    </p><br>
    <div style="display:none">

    </div>

</body>

</html>